.cdcontainermaster{
	width:100%;
	background-color:#FF2828;
}
.cdcontainer{
	width:100%;
	text-align:left;
}
#cdnavcontainer{
	background-color:#FED5D5;
	width:100%;
}
#cdnavcont{
	background-image:url(../imagens/menu/bg_navcon.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#FFC6C6;
	zoom:100%;
}
#cdnavheader{
	float:left;
	color:#AE0000;
	font-family:Arial,Helvetica,sans-serif; 
	font-size:1.2em;
	line-height:1.2em;
	font-weight:bold; 
	padding:0px 34px 0px 34px;
}

#cdnavheader ul{
	margin:0;
	padding:0;
	zoom:100%;
	list-style:none;
}
#cdnavheader li{
	float:left; 
	margin:0;
	padding:0;
}
#cdnavheader a{
	float:left;
	background-image:url(../imagens/menu/left_both.gif); 
	background-repeat:no-repeat;
	background-position:left top; 
	margin:0;
	padding:0 0  0 8px; 
	text-decoration:none;
}
#cdnavheader a span{
	display:block;
	background-image:url(../imagens/menu/right_both.gif); 
	background-repeat:no-repeat;
	background-position:right top; 
	padding:6px 12px  4px 4px; 
	font-weight:bold; color:#AE0000;
}
#cdnavheader .current a{
	background-repeat:no-repeat;
	background-image:url(../imagens/menu/left_both_on.gif); 
	background-position:0 -150px; 
	border-width:0;
	border-bottom:1px solid #FFDBDB;
}
#cdnavheader .current a span{
	background-repeat:no-repeat;
	background-image:url(../imagens/menu/right_both_on.gif); 
	background-position:100% -150px; 
	padding:5px 12px  6px 4px; color:#AE0000;
}
#cdnavheader a span{float:none;}
#cdnavheader a:hover{background-position:0 -150px;}
#cdnavheader a:hover span{background-position:100% -150px;}
#cdribbon{
	padding:4px 10px 0 10px;
	background-image:url(../imagens/menu/bg_ribbon.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.cdSubwebBgColor{background-color:#FFF;}
.cdribtopl{
	background-image:url(../imagens/menu/rib_l_t.gif); 
	font-size:2px;
	line-height:2px;
}
.cdribtopc{
	border-top:1px solid #FF6B6B;
	background-color:#FED5D5;
}
.cdribtopc div{
	height:1px;
	line-height:1px;
	font-size:1px;
	overflow:hidden;
}
.cdribtopr{background-image:url(../imagens/menu/rib_r_t.gif);}
.cdribmidl{
	border-right:none; 
	border-left:1px solid #FF6B6B; 
	background-color:#FED5D5;
}
.cdribmidl div,.cdribmidr div{
	width:1px;
	overflow:hidden;
}
.cdribmidc{
	background-image:url(../imagens/menu/rib_c_c.gif);
	border-bottom:1px solid #FFDDDD;
}
.cdribbontext{
	color:#F20000;
	font-size:1.0em;
	line-height:1.3em;
}
.cdchutopl{
	background-image:url(../imagens/menu/chu_l_t.gif); 
	font-size:2px;
	line-height:2px;
}
.cdchutopc div,.cdchubotc div,.cdchutopr{background-image:url(../imagens/menu/chu_r_t.gif);}
.cdchutopc{
	border-top:1px solid #FF8181;
	background-color:#fff;
}
.cdchumidl{
	border-right:none; 
	border-left:1px solid #FF7676; 
	background-color:#fff;
}
.cdchumidl div,.cdchumidr div,.cdchumidc,.cdchumidcover{
	background-image:url(../imagens/menu/chu_c_c.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#FFE3E3;
}
.cdchumidcover{
	background-image:url(../imagens/menu/chu_c_c_on.gif);
	background-color:#FFEFEF;
}
#cdsubwebicon{
	background-image:url(../imagens/menu/icon_search.gif);
	background-repeat:no-repeat;
	background-position:5px 8px;
}
.cdsearchlabel{
	vertical-align:bottom;
	height:2.0em;
	text-align:left; 
	font-size:1.1em;
	font-weight:bold; 
	color:#F20000;
	padding-bottom:2px;
}
.cdsearchboxcont{
	width:100%;
	height:32px;
	text-align:left;
}
input.cdsearchbox{
	background-color:#FFF6F6;
	border-top:1px solid #FE5353;
	border-left:1px solid #FE5353;
	border-right:1px solid #FFA6A6;
	border-bottom:1px solid #FFA6A6;
	font-family:Tahoma,Arial,Helvetica,sans-serif; 
	font-size:1.1em;
	display:inline;
	padding:2px 2px 2px 4px;
	width:200px;
}
.cdSearchBoxOffColor{color:#A1A1A1;}
.cdsearchmag{
	cursor:hand;
	cursor:pointer;
}
#cdsdrop{
	cursor:hand;
	cursor:pointer;
}
#cdsearchoutcdsdrop{
	background-color:#FFF4F4;
	width:150px;
	display:none;
	text-align:left; 
	border:1px solid #7A7A7A;
}
.cdsearchtextout,.cdsearchtextover{
	padding:2px 0 2px 5px;
	cursor:hand;
	cursor:pointer;
	font-size:1.1em;
	line-height:1.2em;
}
.cdsearchtextout{
	background-color:#FFF4F4;
	border:1px solid #FFF4F4;
}
.cdsearchtextover{
	background-color:#FFE292;
	border:1px solid #DD9946;
}
a.cdDefaultScope,a.cdDefaultScope:visited,a.cdDefaultScope:hover{
	color:#AA0000;
	text-decoration:none;
}
a.cdNotDefaultScope,a.cdNotDefaultScope:visited,a.cdNotDefaultScope:hover{
	color:#666;
	text-decoration:none;
}
.cdsearchsep{
	height:2px;
	font-size:1px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #fff;
	margin:0;
	overflow:hidden;
}
.cdchumidr{
	border-left:none; 
	border-right:1px solid #FF7B7B; 
	background-color:#fff;
}
.cdchubotl{
	background-image:url(../imagens/menu/chu_l_b.gif); 
	font-size:2px;
	line-height:2px;
	background-position:bottom left;
}
.cdchubotc{
	border-bottom:1px solid #FF3F3F;
	background-color:#fff;
}
.cdchubotr{
	background-image:url(../imagens/menu/chu_r_b.gif); 
	background-position:bottom right;
}
.cdribmidr{
	border-left:none; 
	border-right:1px solid #FF6B6B; 
	background-color:#FFC1C1;
}
.cdribbotl{
	background-image:url(../imagens/menu/rib_l_b.gif); 
	font-size:6px;
	background-repeat:no-repeat;
}
.cdribbotc{
	background-image:url(../imagens/menu/rib_c_b.gif);
	background-repeat:repeat-x;
}
.cdribbotr{
	background-image:url(../imagens/menu/rib_r_b.gif); 
	background-repeat:no-repeat;
}
.cntRibbonborder {border: 1px solid #FECFCF}
.cntribboncolor {color:#F20000}
.cntribboncolor .cntUL0 {
	margin:0px; 
	padding:0px; 
	font-size:1.0em; 
	list-style-image:none; 
	line-height:9.685pt
}
.cntribboncolor .cntUL0 li {padding-bottom:3px}
.cntribboncolor .cntStdUL {
	font-size:1em;
	line-height:9.685pt
}
.cntUL0 {
	margin:0px; 
	padding:0px
}
.cntSqbulletedlist {
	list-style-image:url(../imagens/menu/bulletl.gif); 
	margin:0px; 
	margin-left:12px; 
	padding:0px; 
	padding-bottom:2px; 
	font-size:1.1em
}

.fundoOffOnIcone {

	background-image:url(../imagens/menu/fundoOffIcone.gif);
	background-repeat:repeat-x;

}

.fundoOnIcone{

	background-image:url(../imagens/menu/fundoOnIcone.gif);
	background-repeat:repeat-x;

}

.fundoOnIconeInvert{

	background-image:url(../imagens/menu/fundoOnIconeInvert.gif);
	background-repeat:repeat-x;

}

.semFundo{

	background-color:none;

}